@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Employee Service</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel-title">
            <strong>Employees</strong>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody id="emID" data-bind="foreach: employees" class="form-control">
                    <tr>
                        <td id="emID" data-bind="text: Id" />
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="inputTitle">Title</span>
                                <input type="text" class="form-control" id="updateTitle" data-bind="value: Title" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="updateTitle">First Name</span>
                                <input type="text" class="form-control" data-bind="value: fName" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="updatelName">Last Name</span>
                                <input type="text" class="form-control" data-bind="value: lName" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="updateAddy">Address</span>
                                <input type="text" class="form-control" data-bind="value: Address" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="updateCity">City</span>
                                <input type="text" class="form-control" data-bind="value: City" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="updateRegion">Region</span>
                                <input type="text" class="form-control" data-bind="value: Region" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="udpatePCode">Postal Code</span>
                                <input type="text" class="form-control" data-bind="value: PostalCode" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="updateCountry">Country</span>
                                <input type="text" class="form-control" data-bind="value: Country" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="updateExt">Extension</span>
                                <input type="text" class="form-control" data-bind="value: Ext" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="updateSalary">Salary</span>
                                <input type="text" class="form-control" data-bind="value: Salary" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="updateDept">Department</span>
                                <input type="text" class="form-control" data-bind="value: Dept" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="updateSuper">Supervisor</span>
                                <input type="text" class="form-control" data-bind="value: Super" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="updateTenure">Tenure</span>
                                <input type="text" class="form-control" data-bind="value: Tenure" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-default" data-bind="click: $parent.deleteEmployee">Delete</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default" data-bind="click: $parent.updateEmployee">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>


    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add Employee
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addEmployee">
                    <div class="form-group" data-bind="with: newEmployee">

                        <div class="input-group">
                            <span class="input-group-addon" id="inputlName">Last Name</span>
                            <input type="text" class="form-control" data-bind="value:lName">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="inputfName">First Name</span>
                            <input type="text" class="form-control" data-bind="value: fName">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="inputTitle">Title</span>
                            <input type="text" class="form-control" data-bind="value: Title">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="inputAddress">Address</span>
                            <input type="text" class="form-control" data-bind="value: Adress">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="inputCitye">City</span>
                            <input type="text" class="form-control" data-bind="value :City">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="inputRegion">Region</span>
                            <input type="text" class="form-control" data-bind="value: Region">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="inputPCode">Postal Code</span>
                            <input type="text" class="form-control" data-bind="value: PostalCode">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="inputCountry">Country</span>
                            <input type="text" class="form-control" data-bind="value :Country">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="inputeExt">Extension</span>
                            <input type="text" class="form-control" data-bind="value :Ext">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="inputSalary">Salary</span>
                            <input type="text" class="form-control" data-bind="value: Salary">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="inputDept">Department</span>
                            <input type="text" class="form-control" data-bind="value :Dept">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="inputDept">Supervisor</span>
                            <input type="text" class="form-control" data-bind="value :Super">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="inputDept">Tenure</span>
                            <input type="text" class="form-control" data-bind="value: Tenure">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
